#body {

    color: $color-secondary;
    font-size: 50px;
    font-weight: 700;

    background-color: $color-firstly;
}

.container {
    max-width: 1600px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}