$color-firstly : rgb(73, 71, 71);
$color-secondary : rgb(34, 1, 1);

#body {

    color: $color-secondary;
    font-size: 50px;
    font-weight: 700;

    background-color: $color-firstly;
}

.container {
    max-width: 1600px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.slider {
    &-track {
        display: flex;
        flex: 0 1 500px;

        position: relative;
    }

    &-wrapper {
        padding: 0 20px;

        display: flex;
        flex: 0 1 1600px;
        justify-content: center;
    }

    &-item {
        display: flex;
        flex-direction: column;
        flex: 0 1 500px;
        justify-content: center;
        align-items: center;

        & h1 {
            width: 100%;

            margin: 0;

            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & img {
            width: 100%;

            display: block;
        }
    }

    &-controle {
        width: 100%;
        height: 50px;

        margin-top: 50px;
        padding: 0 20px;

        display: flex;
        flex: 0 1 500px;
        justify-content: space-around;
        align-items: center;

        & span {
            width: 30px;
            height: 30px;

            color: transparent;
            font-size: 0;

            cursor: pointer;

            border-radius: 50%;

            background-color: $color-secondary;

            transition: all .2s ease;

            &:hover {
                transform: scale(1.2);
            }

            &.active-dot {
                background-color: red;
            }
        }
    }
}

.arrow {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 50%;
    z-index: 1;

    border: 0;

    outline: 0;

    cursor: pointer;

    transform: translateY(-50%);

    background-color: $color-secondary;

    &.prev {
        left: 0;

        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 50px solid $color-firstly;
        border-bottom: 25px solid transparent;
    }

    &.next {
        right: 0;

        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 50px solid $color-firstly;
        border-bottom: 25px solid transparent;
    }
}
